:root {
  /* Base font size */
  font-size: 10px;

  /* Heading height variable*/
  --heading-height: 25em;
}

header {
  position: fixed;
  width: 100%;
  height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 6em;
  width: 100%;
  height: calc(var(--heading-height) + 10em);
  z-index: -1;
  transform: skewY(-2.5deg);
  background-color: darkgreen;
  background-size: cover;
  border-bottom: 0.2em solid #fff;
}

h2 {
  color: white;
  text-align: center;
  font-size: 65px;
  font-family: copperplate;
}

.logout,
.logout:visited {
  display: inline-block;
  padding: 5px 10px;
  border: 2px dashed darkgreen;
  font-family: copperplate;
}

.logout:hover {
  background: green;
  color: #fff;
}
